$page_header_height: 50px;

$page_slider_max_height: 170px;
$page_slider_min_width: 50px;
$page_top_tool_height: 44px;

$page_slider_bg: #28355f;
$page_menu_select_color: #ffffff;
$page_menu_item_hover_bg: rgba(255, 255, 255, 0.12);
$page_menu_item_bg: rgba(255, 255, 255, 0.12);
$page_menu_item_active_border_width: 4px;
