/**
 * @description 全局主题变量配置
 */
/* stylelint-disable */
@charset "utf-8";
//框架默认主题色
$base-color-default: #5470c6;
//字体大小配置
$base-font-size-small: 12px;
$base-font-size-default: 14px;
$base-font-size-big: 16px;
$base-font-size-bigger: 18px;
$base-font-size-max: 22px;
$base-font-color: #606266;
$base-color-blue: $base-color-default;
$base-color-green: #47ba80;
$base-color-white: #fff;
$base-color-black: #000;
$base-color-yellow: #fac858;
$base-color-orange: #ff6700;
$base-color-red: #f34d37;
$base-color-gray: rgba(0, 0, 0, 0.65);
$base-main-width: 1279px;
$base-border-radius: 4px;
$base-border-color: #dcdfe6;
//默认层级
$base-z-index: 999;
//横向布局纵向布局时菜单背景色
$base-menu-background: #282c34;
//横向布局纵向布局时菜单hover背景色
$base-menu-active-background: rgba(32, 35, 42, 1)!important;
//菜单文字颜色
$base-menu-color: hsla(0, 0%, 100%, 0.7);
//菜单选中文字颜色
$base-menu-color-active: $base-color-white;
//菜单选中背景色
$base-menu-background-active: $base-color-black;
//标题颜色
$base-title-color: #fff;

//输入框高度
$base-input-height: 32px;
//默认paddiing
$base-padding: 20px;
//默认阴影
$base-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
//横向布局时top-bar、logo、一级菜单的高度
$base-top-bar-height: 65px;
//纵向布局时logo的高度
$base-logo-height: 75px;
//顶部nav-bar的高度
$base-nav-bar-height: 60px;
//顶部多标签页tabs-bar的高度
$base-tabs-bar-height: 55px;
//顶部多标签页tabs-bar中每一个item的高度
$base-tag-item-height: 34px;
//菜单li标签的高度
$base-menu-item-height: 40px;
//app-main的高度
$base-app-main-height: calc(100vh - #{$base-nav-bar-height} - #{$base-tabs-bar-height} - #{$base-padding} - #{$base-padding} - 55px);
//纵向布局时左侧导航未折叠时的宽度
$base-left-menu-width: 210px;
//纵向布局时左侧导航未折叠时右侧内容的宽度
$base-right-content-width: calc(100% - #{$base-left-menu-width});
//纵向布局时左侧导航已折叠时的宽度
$base-left-menu-width-min: 65px;
//纵向布局时左侧导航已折叠时右侧内容的宽度
$base-right-content-width-min: calc(100% - #{$base-left-menu-width-min});
//默认动画
$base-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border 0s,
  background 0s, color 0s, font-size 0s;
//默认动画长
$base-transition-time: 0.3s;

.w{width:100%!important;}
::v-deep {
  .el-button--mini {
    padding: 4px 9px;
    font-size: 12px;
    border-radius: 4px;
  }
  .el-submenu {
    .el-menu {
      background-color: $base-menu-active-background;
      li{
        background-color:transparent!important;
      }
    }
  }
  .el-link{
    font-size:12px;
    &:nth-of-type(n+2){
      margin-left:12px;
    }
  }

  .el-table {
    th {
      background: #f5f5f5 !important;
      padding:5px 5px!important;
      .cell {
        font-weight: bold;
      }
    }
    td{
      padding:0px 0!important;
      height:34px!important;
      line-height:34px!important;
      overflow:hidden;
    }
  }
  .left-panel{
    .el-form-item{margin:5px;margin-top:0!important;}
    .el-form-item:first-child{margin-left:0!important;}
  }  
}

:export {
  //菜单文字颜色变量导出
  menu-color: $base-menu-color;
  //菜单选中文字颜色变量导出
  menu-color-active: $base-menu-color-active;
  //菜单背景色变量导出
  menu-background: $base-menu-background;
}