// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
    font-weight: 400 !important;
}

.el-upload {
    input[type="file"] {
        display: none !important;
    }
}

.el-upload__input {
    display: none;
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
    transform: none;
    left: 0;
    position: relative;
    margin: 0 auto;
}

// refine element ui upload
.upload-container {
    .el-upload {
        width: 100%;

        .el-upload-dragger {
            width: 100%;
            height: 200px;
        }
    }
}

// dropdown
.el-dropdown-menu {
    a {
        display: block;
    }
}

// to fix el-date-picker css style
.el-range-separator {
    box-sizing: content-box;
}

// 单选组件
.self-radio-group {
    width: 100%;

    .el-radio-group {
        width: 100%;
        display: flex; /* 使用Flexbox布局 */
        justify-content: space-between; /* 平均分配子组件之间的空间 */
    }

    .el-radio-button {
        flex: 1;
        .el-radio-button__inner {
            width: 100%;
        }
    }
}

.el-pagination {
    margin-top: 10px;
    text-align: center;
}

// 弹出窗居中

.center-dialog {
    text-align: center;
    white-space: nowrap;
    overflow: auto;

    .el-dialog__header {
        text-align: left;
    }

    .el-dialog__header {
        padding: 15px !important;
    }
    .el-dialog__title {
        font-size: 16px;
    }
    .el-dialog__body {
        border-top: 1px solid #dcdfe6;
        padding: 20px;
    }
    .el-button--mini {
        padding: 4px 9px;
        font-size: 12px;
        border-radius: 4px;
    }

    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .el-dialog {
        margin: 0px auto !important;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        white-space: normal;
    }

    .el-table {
        th {
            background: #f5f5f5 !important;
            padding: 5px 5px !important;
            .cell {
                font-weight: bold;
                color: #333;
            }
        }
        td {
            padding: 0px 0 !important;
            height: 56px !important;
            overflow: hidden;
        }
    }
}
