// sidebar
// $menuText:#bfcbd9;
$menuText: #fff;
$menuActiveText: #409eff;
// $subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951
$subMenuActiveText: #28355f; //https://github.com/ElemeFE/element/issues/12951

// $menuBg:#304156;
$menuBg: #28355f;
// $menuHover:#263445;
$menuHover: rgba(255, 255, 255, 0.1);

// $subMenuBg:#1f2d3d;
$subMenuBg: #fff;
// $subMenuHover:#001528;
$subMenuHover: rgba(255, 255, 255, 0.1);

$sideBarWidth: 200px;
::v-deep {
    // .el-submenu {
    //   .el-menu {
    //     background-color: $base-menu-active-background;
    //     li{
    //       background-color:transparent!important;
    //     }
    //   }
    // }
    .el-dialog__header {
        padding: 15px !important;
    }
    .el-dialog__title {
        font-size: 16px;
    }
    .el-dialog__body {
        border-top: 1px solid #dcdfe6;
        padding: 20px;
    }
    .el-button--mini {
        padding: 4px 9px;
        font-size: 12px;
        border-radius: 4px;
    }
    .el-table {
        th {
            background: #f5f5f5 !important;
            padding: 5px 5px !important;
            .cell {
                font-weight: bold;
                color: #333;
            }
        }
        td {
            padding: 0px 0 !important;
            height: 32px !important;
            overflow: hidden;
        }
    }
}

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    menuText: $menuText;
    menuActiveText: $menuActiveText;
    subMenuActiveText: $subMenuActiveText;
    menuBg: $menuBg;
    menuHover: $menuHover;
    subMenuBg: $subMenuBg;
    subMenuHover: $subMenuHover;
    sideBarWidth: $sideBarWidth;
}

.el-table .cell {
    display: flex;
    align-items: center;
    justify-content: center;
}
