@forward "element-plus/theme-chalk/src/common/var.scss" with (
	$colors: (
		"primary": (
			"base": #345bad,
			// 修改为你想要的颜色
		),
		"success": (
			"base": #57BD94,
			// 修改为你想要的颜色
		)
	)
);

// 然后导入 Element Plus 的样式文件
@use "element-plus/theme-chalk/src/index.scss" as *;
