.dialog-container-main {
	overflow-y: auto;
	padding: 0 15px;
}
.dialog-container-close {
	position: absolute;
	top: 24px;
	right: 24px;
	cursor: pointer;
}
.el-dialog {
	padding: 0;
	border-radius: 8px;
	overflow: hidden;
	.el-dialog__header {
		padding: 0 15px;
		height: 56px;
		line-height: 56px;
		background: var(--el-dialog-bg);
		border-bottom: 1px solid var(--el-border-color);
		text-align: left;
		background-image: url(/dialog-header-bg.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		.el-dialog__title {
			color: #000;
			line-height: 56px;
			overflow: hidden;
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-right: 24px;
		}
		.el-dialog__close {
			color: #000;
		}
	}
}

.dialog-container-footer {
	display: flex;
	justify-content: space-between;
	gap: 10px;

	padding: 15px;
}

.dialog-container-main {
	padding: 24px;
	.base-form {
		border: none;
		background-color: transparent;
		box-shadow: none;
	}
}

.custom-drawer {
	.el-drawer__body {
		padding: 0;
	}
	.el-drawer__header {
		padding-bottom: var(--el-drawer-padding-primary);
		margin-bottom: 0px;
		border-bottom: 1px solid #eee;
	}
}

.drawer-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	&-main {
		flex: 1;
		overflow-y: auto;
		padding: 15px;
	}
	.drawer-container-footer {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		padding-inline: 15px;
		height: 60px;
		align-items: center;
		border-top: 1px solid #eee;
		flex-shrink: 0;
	}
}

.el-dialog__headerbtn {
	height: 56px;
}
